.Events {
	padding: 0;
	.Events__Title {
		font-weight: bold;
		text-align: center;
		font-size: 1.5em;
		padding-bottom: 1em;
	}
	.Events__Row {
		margin-bottom: 1.15em;
		position: relative;
		.Events__Date {
			text-align: center;
			background: #fff;
			padding: 0.5em;
			.Events__DateTitle {
				margin: 0 0 -0.3em 0;
			}
			.Events__DateP {
				margin: 0;
				font-weight: bold;
			}
		}
		.Events__Date--White {
			background-color: white;
			color: #d80f26;
		}
		.Events__Text {
			background-color: white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			transition: all 0.2s ease;
			:before {
				content: "";
				border-left: 1px solid #212529;
				position: absolute;
				top: 10%;
				left: 0;
				bottom: 10%;
			}
			&:hover {
				background-color: #d80f26;
				color: white;
				border-left: 1px solid white;
			}
			.Events__TextP {
				margin: 0;
				font-size: 0.75em;
			}
		}
	}
}
